*{
    background-color: white;
}
span{
    color: #fff;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: normal;
    white-space: nowrap;
}
.cardPart{
    display: grid;
    grid-row: auto;
}
.slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 150 / 35;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
  }
  .slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .slide.active {
    display: block;
    opacity: 1;
  }
  .slide img {
    width: 100%;
    height: auto;
  }
  .slide.transitioning {
    opacity: 0;
  }

  #getInspire{
    font-family: Open Sans,Arial,sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    margin-left: 10px;
  }
  
  .getPart{
    margin-top: 30px;
  }

  .card{
    margin-right: 19px;
  }

#img1Button{
    margin-top: 39px;
}

.allVisit{
    display: flex;
    justify-content: center;
}
