h2{
    display: flex;
    justify-content :center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px rgb(204, 0, 255);
    margin-top: 40px;
}

input{
    width: 29%;
    border: 2px solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 25px;
    font-size: 20px;
}
input::placeholder {
    font-style: italic;
    color: white;
}

#destinationLable{
    padding-left: 172px;
}
#destinationTime{
    padding-left: 100px;
}
#arrivalTime{
    padding-left: 132px;
}
#classPart{
    padding-left: 190px;
}

label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    padding-right: 20px;
}
.flightAdd{
    margin-top: 20px;
    margin-left: 22rem;
}

.allSide{
    margin-top: 15px;
}

th{
    font-size: 20px;
}
td{
    font-size: 17px;
    color: aliceblue;
    
}
.tableDesgin {
    --bs-table-bg: none !important;
    vertical-align: baseline !important;
}
